<p>contacts works!</p>
<div class="map-container">
  <div class="additional-info" [class.xl-visible]="mapIsReady">
    <h2>Hello</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. A obcaecati quam
      commodi in quisquam placeat iure velit dolorem quis asperiores?
    </p>
    <div class="phone-numbers" *ngIf="phoneNumbers.length > 0">
      <ng-container *ngFor="let phone of phoneNumbers">
        <a [href]="'tel:' + phone">{{phone}}</a>
      </ng-container>
    </div>
  </div>
  <ya-map [center]="placemark.center" [zoom]="12" (ready)="mapIsReady = true">
    <ya-placemark
      [geometry]="placemark.center"
      [properties]="placemark.properties"
      [options]="placemark.options"
    ></ya-placemark>
  </ya-map>
</div>

contacts-gontacts
