:host {
  // min-height: 100vh;
  // display: block;
  // background-color: #fff;
  // color: #333;
}

.main-content {
  // min-height: 100vh;
  display: block;
  background-color: #fff;
  color: #333;
}

.content {
  margin-left: 125px;
}
